@use "../../modules/units.module";
@use "../../modules/funcs.module";
@use "../../modules/breakpoints.module";

.category_card {
  border-radius: units.$round-xl;
  background: var(--surface);

  transition: 0.64s ease-in;

  overflow: hidden;

  box-shadow: 0 0 funcs.px-rem(1) funcs.px-rem(1) var(--light-stroke);

  @include breakpoints.media-screen(breakpoints.$md) {
    box-shadow: none;

    &:hover {
      box-shadow: funcs.px-rem(5) funcs.px-rem(8) funcs.px-rem(20) var(--shadow);
    }
  }

  &:hover {
    .category_card_wrap__image {
      & > * {
        scale: 1.1;
      }
    }
    .learn_more_button {
      color: var(--text-primary);
      svg {
        width: funcs.px-rem(32);
        color: var(--text-primary);
      }
    }
  }
}

.category_card_wrap__image {
  position: relative;
  padding-top: 71%;
  overflow: hidden;

  transition: 0.16s ease-out;

  & > * {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    transition: 0.64s ease-out;
  }
}

.category_card_wrap__body {
  padding: funcs.px-rem(16) funcs.px-rem(24);

  @include breakpoints.media-screen(breakpoints.$sm) {
    padding: funcs.px-rem(24) funcs.px-rem(40);
  }
}

.category_card_body_wrap__title {
  margin-bottom: funcs.px-rem(8);

  @include breakpoints.media-screen(breakpoints.$sm) {
    margin-bottom: funcs.px-rem(24);
  }
}

.category_title {
  color: var(--text-primary);
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.learn_more_button {
  display: flex;
  align-items: center;
  gap: funcs.px-rem(24);
  width: fit-content;
  transition: 0.32s ease-out;

  color: var(--text-secondary);

  svg {
    width: funcs.px-rem(16);
    transition: 0.32s ease-out;
    color: var(--text-secondary);
  }
}
