@use "./funcs.module";

$xs: 0;
$sm: funcs.px-rem(576 + 32);
$md: funcs.px-rem(768 + 32);
$lg: funcs.px-rem(992 + 32);
$xl: funcs.px-rem(1200 + 32);
$xxl: funcs.px-rem(1640 + 32);

@mixin media-screen($width) {
  @media (min-width: $width) {
    @content;
  }
}
