@use "./funcs.module";
@use "./units.module";

$xs: funcs.px-rem(340 + 32);
$sm: funcs.px-rem(576 + 32);
$md: funcs.px-rem(768 + 32);
$lg: funcs.px-rem(992 + 32);
$xl: funcs.px-rem(1200 + 32);
$xxl: funcs.px-rem(1640 + 32);
$xxxl: funcs.px-rem(1920);

@mixin media-screen($width) {
  @media (min-width: $width) {
    @content;
  }
}
