@use "./funcs.module";

$header-height-mobile: funcs.px-rem(64);
$header-height-tablet: funcs.px-rem(80);
$header-height-desktop: funcs.px-rem(88);

$header-bottom-block-desktop: funcs.px-rem(72);
$header-bottom-block-desktop-minus: funcs.px-rem(-72);

$sm: funcs.px-rem(30);
$md: funcs.px-rem(40);
$lg: funcs.px-rem(60);
$round-xl: 25px;
