@use "./funcs.module";

$header-height-mobile: funcs.px-rem(64);
$header-height-tablet: funcs.px-rem(80);
$header-height-desktop: funcs.px-rem(88);

$header-bottom-block-desktop: funcs.px-rem(48);

$medium: funcs.px-rem(40);
$round-xl: 40px;
