@use "../../modules/funcs.module";

.modal {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.bg_background {
  background: var(--background);
}
.bg_darken {
  background: rgba(0, 0, 0, 0.25);
}

.close_button_wrapper {
  padding: funcs.px-rem(40) funcs.px-rem(24);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
