@use "../../modules/funcs.module";
@use "../../modules/breakpoints.module";

.review_slider_card {
  position: relative;
}

.review_wrap__img {
  position: relative;
  padding-top: 128%;

  & > * {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: blue;
  }

  @include breakpoints.media-screen(breakpoints.$xl) {
    padding-top: 55.88%;
  }
}

.review_wrap__info {
  padding: funcs.px-rem(16) funcs.px-rem(32);
  position: absolute;

  right: -1px;
  bottom: -1px;

  left: -1px;

  display: flex;
  flex-direction: column;
  gap: funcs.px-rem(24);

  background: var(--surface);

  @include breakpoints.media-screen(breakpoints.$md) {
    padding: funcs.px-rem(32) funcs.px-rem(48);
    left: auto;
    border-radius: 40px 0 0 0;
  }
}

.review_info_wrap__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include breakpoints.media-screen(breakpoints.$md) {
    row-gap: funcs.px-rem(32);
    column-gap: funcs.px-rem(128);
  }
}
