@use "../../modules/units.module";
@use "../../modules/funcs.module";

.button {
  padding: 0 funcs.px-rem(24);
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  outline: none;
  border: none;

  font-weight: 600;
  font-size: funcs.px-rem(12);
  line-height: 130%;

  border-radius: units.$round-xl;

  cursor: pointer;

  color: var(--text-primary);

  transition: 0.16s;

  white-space: nowrap;

  user-select: none;

  &:hover {
    scale: 1.05;
  }
  &:active {
    scale: 0.8;
  }
}

.icon_button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  outline: none;

  color: var(--text-primary);

  border-radius: 50%;
  cursor: pointer;

  transition: 0.16s ease-out;

  &:hover {
    scale: 1.05;
  }
  &:active {
    scale: 0.8;
  }
}

.icon_button.md {
  width: units.$md;
  height: units.$md;
  flex-shrink: 0;

  & > * {
    width: calc(units.$md / 2);
    height: calc(units.$md / 2);
    object-fit: contain;
  }
}

.button.md {
  height: units.$md;
}

.icon_button.lg {
  width: units.$lg;
  height: units.$lg;
  flex-shrink: 0;

  & > * {
    width: calc(units.$lg / 2);
    height: calc(units.$lg / 2);
    object-fit: contain;
  }
}

.button.lg {
  height: units.$lg;
}

.contained {
  color: #fff;
  &:hover {
    box-shadow: funcs.px-rem(5) funcs.px-rem(8) funcs.px-rem(20)
      rgba(0, 0, 0, 0.2);
  }
}

.outlined {
  background: var(--surface);
}

.bg_primary {
  background: var(--primary);
}

.bg_warning {
  background: var(--warning);
}
.bg_danger {
  background: var(--danger);
}
.bg_success {
  background: var(--success);
}
.bg_default {
  background: var(--surface);
  color: var(--text-primary);
}

.outlined {
  border-width: funcs.px-rem(1);
  border-style: solid;
}

.border_primary {
  border-color: var(--primary);
  color: var(--primary);
}

.border_warning {
  border-color: var(--warning);
  color: var(--warning);
}
.border_danger {
  border-color: var(--danger);
  color: var(--danger);
}
.border_success {
  border-color: var(--success);
  color: var(--success);
}
.border_default {
  border-color: var(--stroke);
  color: var(--stroke);
}
