@use "../../modules/funcs.module";
@use "../../modules/units.module";

.chip {
  padding: 0 calc(units.$default-padding / 2);
  display: flex;
  align-items: center;
  gap: funcs.px-rem(8);
  height: units.$sm;
  border: none;
  border-radius: units.$round-xl;

  background: var(--light-stroke);

  transition: 0.16s ease-out;
  cursor: pointer;

  color: var(--test-primary);

  &:not(:disabled):hover {
    filter: brightness(0.95);
    // box-shadow: funcs.px-rem(5) funcs.px-rem(8) funcs.px-rem(20)
    //   rgba(0, 0, 0, 0.2);
  }

  &:not(:disabled):active {
    transition: 0.08s ease-out;
    background: var(--stroke);
    color: var(--text-contrast);
    transform: scale(0.9);
  }

  &:disabled {
    opacity: 0.4;
  }
}
