@use "../../modules/funcs.module";
@use "../../modules/breakpoints.module";

.popup {
  position: fixed;
  background: var(--background);
  top: 0;
  height: 100vh;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.top {
  top: 0;
}

.bottom {
  top: auto;
  bottom: 0;
}

.vertical {
  width: 100%;

  @include breakpoints.media-screen(breakpoints.$sm) {
    min-width: funcs.px-rem(340);
    width: 25vw;
  }
}
.horizontal {
  height: 100%;
  width: 100%;

  @include breakpoints.media-screen(breakpoints.$sm) {
    min-height: funcs.px-rem(340);
    height: 25vh;
  }
}
