@use "../../modules/funcs.module";
@use "../../modules/units.module";
@use "../../modules/breakpoints.module";

.sub_nav {
  z-index: 90;
  position: fixed;
  display: flex;
  top: units.$header-height-desktop;
  width: 100%;
  height: units.$header-bottom-block-desktop;

  background: var(--surface);

  @include breakpoints.media-screen(breakpoints.$sm) {
    top: units.$header-height-tablet;
  }
  @include breakpoints.media-screen(breakpoints.$xxl) {
    top: units.$header-height-desktop;
  }
}

.sub_nav_container {
  display: flex;
  align-items: center;
}

.sub_nav__list {
  display: flex;
  align-items: center;
  gap: funcs.px-rem(20);
}

.sub_nav__link {
  transition: 0.32s;
  color: var(--text-secondary);

  white-space: nowrap;

  &:hover {
    color: var(--text-primary);
  }
}
