@use "../../shared/modules/funcs.module";
@use "../../shared/modules/units.module";

.top_wrapper {
  position: fixed;
  width: 100%;
}

.info_block {
  display: flex;
  height: units.$info-block-height-desktop;
}

.info_container {
  align-items: center;
  background: var(--text-secondary);
}

.header {
  display: flex;
  height: units.$header-height-desktop;
  background: var(--background);
}

.header_container {
  position: relative;
  align-items: center;
  gap: funcs.px-rem(64);
}

.logo_img_wrapper {
  display: block;
  width: funcs.px-rem(175);
  height: funcs.px-rem(32);

  background: url("../../shared/assets/media/imgs/logo.png");
}

.header_wrap__search {
  flex-grow: 1;
}

.header_wrap__actions {
  display: flex;
}
