@use "../../shared/modules/funcs.module";
@use "../../shared/modules/units.module";

.top_wrapper {
  position: fixed;
  width: 100%;
}

.top_wrapper__relative_wrapper {
  position: relative;
  width: 100%;
}

.info_block {
  z-index: 2;
  position: absolute;
  top: 0;
  display: flex;
  height: units.$info-block-height-desktop;
  width: 100%;
}

.info_container {
  align-items: center;
  background: var(--text-secondary);
}

.header {
  z-index: 3;
  position: absolute;
  top: units.$info-block-height-desktop;
  display: flex;
  width: 100%;
  height: units.$header-height-desktop;
  background: var(--background);
}

.header_container {
  position: relative;
  align-items: center;
  gap: funcs.px-rem(64);
}

.logo_img_wrapper {
  display: block;
  width: funcs.px-rem(175);
  height: funcs.px-rem(32);

  background: url("../../shared/assets/media/imgs/logo.png");
}

.header_wrap__search {
  flex-grow: 1;
}

.header_wrap__actions {
  display: flex;
}

.bottom_block {
  z-index: 1;
  position: absolute;
  top: calc(units.$info-block-height-desktop + units.$header-height-desktop);
  width: 100%;
}
