@use "../../shared/modules/funcs.module";
@use "../../shared/modules/units.module";
@use "../../shared/modules/breakpoints.module";

.section_banner {
}

.banner_wrap__slider {
  display: flex;
  min-height: calc(100vh - units.$header-height-mobile);

  @include breakpoints.media-screen(breakpoints.$sm) {
    min-height: calc(100vh - units.$header-height-tablet);
  }
  @include breakpoints.media-screen(breakpoints.$xxl) {
    min-height: calc(
      100vh - units.$header-height-desktop - units.$header-bottom-block-desktop
    );
  }
}

.sales_wrap__products {
  position: relative;
  overflow-x: visible;
}

.swiper {
  & > * {
    display: flex;
    align-items: center;
  }
}

.sets_wrap__select {
  padding: funcs.px-rem(8);
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.sets_wrap__presentation {
  display: flex;
  flex-direction: column;
  gap: funcs.px-rem(64);

  @include breakpoints.media-screen(breakpoints.$sm) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.presentation_wrap__img {
  position: relative;
  width: 100%;
  padding-top: 67%;

  & > * {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 1px solid var(--stroke);
  }
  @include breakpoints.media-screen(breakpoints.$sm) {
    width: 63%;

    flex-direction: row;
    justify-content: space-between;
  }
}

.presentation_img_wrapper {
  & > * {
    width: 100%;
    height: 100%;
  }
}

.presentation_wrap__card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  & > * {
    width: 100%;
  }

  @include breakpoints.media-screen(breakpoints.$sm) {
    width: 37%;
  }
}
