@use "../../shared/modules/funcs.module";
@use "../../shared/modules/units.module";
@use "../../shared/modules/breakpoints.module";

.section_banner {
  transform: translateY(units.$header-bottom-block-desktop-minus);
}

.banner_wrap__slider {
  display: flex;
  min-height: calc(100vh - units.$header-height-mobile);

  @include breakpoints.media-screen(breakpoints.$sm) {
    min-height: calc(85vh - units.$header-height-tablet);
  }
  @include breakpoints.media-screen(breakpoints.$xxl) {
    min-height: calc(85vh - units.$header-height-desktop);
  }
}

.banner_bg_wrapper {
  position: relative;
  width: 100%;
  height: 100%;

  & > * {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
  }
}

.sales_wrap__products {
  position: relative;
  overflow-x: visible;
}

.swiper {
  & > * {
    display: flex;
    align-items: center;
  }
}

.sets_wrap__select {
  padding: funcs.px-rem(8);
  width: 100%;
  overflow-y: hidden;

  overflow-x: hidden;

  &:hover,
  &:focus,
  &:active {
    overflow-x: auto;
  }
}

.payment_wrapper {
  position: relative;

  @include breakpoints.media-screen(breakpoints.$md) {
    &::before {
      z-index: -1;
      content: "";
      position: absolute;
      right: 0;
      top: funcs.px-rem(-289);

      height: funcs.px-rem(578);
      width: funcs.px-rem(674);

      background: url("../../shared/assets/media/imgs/payment-illustration.png");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

.payment_points {
  display: flex;
  flex-wrap: wrap;
  gap: funcs.px-rem(16);
  row-gap: funcs.px-rem(8);
  justify-content: center;

  @include breakpoints.media-screen(breakpoints.$sm) {
    justify-content: flex-start;
  }
}

.payment_wrap__info {
  max-width: funcs.px-rem(760);
}

.info_wrap__title {
  margin-bottom: funcs.px-rem(32);
}

.title_wrap__text {
  text-align: center;

  @include breakpoints.media-screen(breakpoints.$sm) {
    text-align: start;
  }

  color: var(--text-primary);
  & > * {
    color: var(--primary);
  }
}

.info_wrap__buttons {
  display: flex;

  justify-content: center;
  @include breakpoints.media-screen(breakpoints.$sm) {
    justify-content: flex-start;
  }
}

.options_wrap {
  padding: funcs.px-rem(16) 0;
  display: flex;
  align-items: center;
  gap: funcs.px-rem(32);
  overflow-x: auto;
  overflow-y: hidden;
}

.read_look_do_span {
  color: var(--text-primary);

  transition: 0.32s;
}

.accent_text {
  color: var(--primary);
}

.save_your_money_wrap {
  position: relative;

  @include breakpoints.media-screen(breakpoints.$lg) {
    &::before {
      z-index: 1;
      content: "";
      position: absolute;
      right: 0;
      top: -200%;

      width: funcs.px-rem(377);
      height: funcs.px-rem(354);

      background: url("../../shared/assets/media/imgs/save-your-money-illustration.png");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

.save_your_money_title {
  max-width: funcs.px-rem(726);
}

.save_your_money_wrap__body {
  margin-bottom: funcs.px-rem(40);
}

.save_your_money_wrap__buttons {
  display: flex;
  flex-direction: column;
  gap: funcs.px-rem(16);

  @include breakpoints.media-screen(breakpoints.$md) {
    gap: funcs.px-rem(16);
    flex-direction: row;
  }
}

.contact_with_us_title {
  font-weight: 600;
}

.our_branch_section {
}

.our_branch_wrap__map {
  position: relative;
  min-height: funcs.px-rem(700);
}

.our_branch_map_wrap__bg {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: url("../../shared/assets/media/imgs/map-example.jpg");
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.our_branch_map_wrap__map {
  z-index: 1;
  position: absolute;
  top: 50%;
  right: funcs.px-rem(252);

  width: funcs.px-rem(536);
  height: funcs.px-rem(536);
  overflow: hidden;

  transform: translateY(-50%);

  border-radius: 50%;
  border: funcs.px-rem(32) solid var(--text-contrast);

  & > * {
    width: 100%;
    height: 100%;
    & > * {
      object-fit: cover;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
  }
}
