@use "../../shared/modules/funcs.module";
@use "../../shared/modules/units.module";
@use "../../shared/modules/breakpoints.module";

.section_banner {
  display: flex;

  min-height: calc(100vh - units.$header-height-mobile);

  @include breakpoints.media-screen(breakpoints.$sm) {
    min-height: calc(100vh - units.$header-height-tablet);
  }
  @include breakpoints.media-screen(breakpoints.$xxl) {
    min-height: calc(100vh - units.$header-height-desktop);
  }
}

.swiper_slide {
  position: relative;
}

.banner_bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sales_wrap__products {
  position: relative;
  overflow-x: visible;
}

.swiper {
  & > * {
    display: flex;
    align-items: center;
  }
}

.button_forward_wrapper,
.button_back_wrapper {
  z-index: 5;
  position: absolute;
  top: 50%;
}

.button_back_wrapper {
  left: 0;
  transform: translate(0, -50%);
}

.button_forward_wrapper {
  right: 0;
  transform: translate(0, -50%);
}

.sets_wrap__select {
  padding: funcs.px-rem(8);
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.sets_wrap__presentation {
  display: flex;
  justify-content: space-between;
  gap: funcs.px-rem(64);
}

.presentation_wrap__img {
  position: relative;
  width: 63%;

  & > * {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 1px solid var(--stroke);
  }
}

.presentation_wrap__card {
  width: 37%;
}
