@use "../../shared/modules/funcs.module";
@use "../../shared/modules/units.module";
@use "../../shared/modules/breakpoints.module";

.product_card {
  border-radius: units.$round-xl;
  background: var(--surface);

  overflow: hidden;

  border: funcs.px-rem(1) solid var(--light-stroke);

  @include breakpoints.media-screen(breakpoints.$md) {
    border: none;
    box-shadow: funcs.px-rem(5) funcs.px-rem(8) funcs.px-rem(20) var(--shadow);
  }
}

.product_card_wrap__media {
  display: block;
  position: relative;
  padding-top: 88%;

  & > * {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    color: var(--stroke);
  }
}

.product_card_wrap__body {
  padding: funcs.px-rem(32);
  display: flex;
  flex-direction: column;

  gap: funcs.px-rem(32);
}

.product_card_body_wrap__main_info {
  display: flex;
  flex-direction: column;
  gap: funcs.px-rem(16);
}

.product_title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.product_description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  box-orient: vertical;
}

.product_card_main_info_wrap__price {
  display: flex;
  align-items: center;
  gap: funcs.px-rem(32);
}

.product_price {
  color: var(--text-primary);
}

.product_price_alternate {
  color: var(--text-secondary);
  text-decoration: line-through;
}

.product_card_body_wrap__actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: funcs.px-rem(16);
  column-gap: funcs.px-rem(16);

  & > * {
    flex-grow: 1;
  }
}

// swiper

.swiper {
  height: 100%;
}

.swiper_item {
  position: relative;
}

.swiper_item_inner {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hover_swiper {
  display: flex;
}

.slide_selector {
  z-index: 5;
  flex-grow: 1;
}

.slides_presentator_wrap {
  padding: 0 funcs.px-rem(32);
  position: absolute;
  display: flex;
  align-items: center;
  bottom: funcs.px-rem(-16);
  left: 50%;

  height: funcs.px-rem(2);

  transform: translateX(-50%);
  width: 100%;
}

.slides_presentator {
  flex-grow: 1;
  height: 100%;

  background: var(--text-secondary);
  transition: 0.16s;
}

.slides_presentator_active {
  background: var(--base);
}

.animation_wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
}
