@use "../../shared/modules/funcs.module";
@use "../../shared/modules/units.module";

.product_card {
  border-radius: units.$round-xl;
  overflow: hidden;
  background: var(--surface);

  transition: 0.16s ease-out;
}

.shadow_on_hover {
  &:hover {
    box-shadow: 8px 24px 32px rgba(0, 0, 0, 0.25);
  }
}

.product_card_image_wrapper {
  padding-top: 87.7%;
  position: relative;

  background: var(--stroke);

  & > * {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.product_card_info_wrapper {
  margin-bottom: funcs.px-rem(24);
}

.product_card_body {
  padding: funcs.px-rem(32) funcs.px-rem(16);
}

.product_info_wrap__name {
  margin-bottom: funcs.px-rem(16);
}

.product_name {
  text-align: center;
  color: var(--text-primary);
}

.product_info_wrap__price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: funcs.px-rem(40);
  row-gap: funcs.px-rem(16);
  flex-wrap: wrap;
}

.product_current_price {
  font-weight: 600;
  font-size: funcs.px-rem(22);
  line-height: 1.3;

  color: var(--text-primary);

  white-space: nowrap;
}

.product_old_price {
  color: var(--text-secondary);
  white-space: nowrap;
  text-decoration: line-through;
}

.product_card_actions_wrapper {
  display: flex;
  justify-content: center;
  column-gap: funcs.px-rem(32);
  row-gap: funcs.px-rem(8);
  align-items: center;
  flex-wrap: wrap;
}
