@use "../../modules/funcs.module";

.authorize_card {
  min-width: funcs.px-rem(300);
  max-width: funcs.px-rem(400);
}

.authorize_card_wrap__top {
  padding: funcs.px-rem(16) funcs.px-rem(24);
  background: var(--surface);
}
.authorize_card_wrap__body {
  padding: funcs.px-rem(16) funcs.px-rem(24);
  background: var(--text-secondary);
}

.authorize_title {
  color: var(--text-primary);
  text-align: center;
}

.authorize_text {
  color: var(--text-contrast);
  text-align: center;
}

.link {
  text-decoration: underline;
  font-weight: 500;

  text-decoration-skip-ink: none;
  color: inherit;
}
