@use "../../modules/funcs.module";
@use "../../modules/breakpoints.module";

.swiper {
  position: relative;
  width: 100%;
  overflow-y: visible !important;
  overflow-x: clip !important;
}

.with_shadows {
  $blur: 8px;
  $spread: 24px;

  @include breakpoints.media-screen(breakpoints.$md) {
    &::after {
      z-index: 10;
      content: "";
      position: absolute;
      left: -1px;
      top: 0;
      height: 100%;
      width: 1px;
      background: none;
      box-shadow: 0 0 $blur $spread var(--background);
    }
    &::before {
      z-index: 10;
      content: "";
      position: absolute;
      right: -1px;
      top: 0;
      height: 100%;
      width: 1px;
      background: none;
      box-shadow: 0 0 $blur $spread var(--background);
    }
  }
}

.swiper_wrap {
  position: relative;
}

.button_next_wrapper,
.button_prev_wrapper {
  z-index: 5;
  position: absolute;
  top: 50%;
}

.button_prev_wrapper {
  left: 0;
  transform: translate(0, -50%);
}

.button_next_wrapper {
  right: 0;
  transform: translate(0, -50%);
}

.swiper_nav_plates_wrap {
  z-index: 5;

  position: absolute;

  left: 50%;
  bottom: funcs.px-rem(64);

  display: flex;
  align-items: center;
  gap: funcs.px-rem(16);

  transform: translate(-50%, -50%);
}

.swiper_nav_plate {
  height: funcs.px-rem(6);
  width: funcs.px-rem(80);

  border: none;
  outline: none;
  background: var(--light-stroke);

  transition: 0.16s;

  cursor: pointer;

  border-radius: 12px;

  &:hover {
    background: var(--stroke);
  }
}

.swiper_nav_plate__active {
  background: var(--base);

  cursor: default;

  &:hover {
    background: var(--light-stroke);
  }
}
