@use "../../shared/modules/funcs.module";
@use "../../shared/modules/units.module";
@use "../../shared/modules/breakpoints.module";

.search_popup_wrap__actions {
  display: flex;
  align-items: center;
  gap: funcs.px-rem(32);
}

.divider_container {
  z-index: 10;
  position: absolute;
  left: 50%;

  & > * {
    width: 100%;
  }

  transform: translateX(-50%);
  top: units.$header-height-mobile;

  @include breakpoints.media-screen(breakpoints.$sm) {
    top: units.$header-height-tablet;
  }
  @include breakpoints.media-screen(breakpoints.$xxl) {
    top: units.$header-height-desktop;
  }
}

.search_popup_wrap__popup_wrapper {
  z-index: 5;
  position: absolute;
  left: 0;
  width: 100%;
  top: units.$header-height-mobile;

  box-shadow: funcs.px-rem(5) funcs.px-rem(100) 40px var(--shadow);

  border-radius: 0 0 units.$round-xl units.$round-xl;

  @include breakpoints.media-screen(breakpoints.$sm) {
    top: units.$header-height-tablet;
  }
  @include breakpoints.media-screen(breakpoints.$xxl) {
    top: units.$header-height-desktop;
  }
}

.search_popup_wrap__popup {
  display: flex;
  height: funcs.px-rem(400);
  background: var(--surface);
  overflow: hidden;
}

.container {
  padding: funcs.px-rem(32) funcs.px-rem(150);
  display: flex;
  gap: funcs.px-rem(64);

  overflow-y: scroll;
}

.search_popup_wrap__left {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: funcs.px-rem(48);
  width: 25%;
}

.search_popup_wrap__right {
  width: 100%;
}

.skeleton {
  background: var(--primary);
}
