.radio_wrapper {
  &:has(input:checked),
  &:has(input:focus) {
    label p {
      font-weight: 500;
      color: var(--text-primary);
    }
  }
}

.select {
  color: var(--text-secondary);
  transition: 0.16s;

  cursor: pointer;

  white-space: nowrap;
}
