@use "../../modules/funcs.module";
@use "../../modules/breakpoints.module";
@use "../../modules/units.module";

.section {
  padding: funcs.px-rem(32) 0;

  @include breakpoints.media-screen(breakpoints.$md) {
    padding: funcs.px-rem(64) 0;
  }
}

.contrast_bg {
  background: var(--base);

  * {
    color: var(--text-contrast) !important;
  }
}

.section_container {
  flex-direction: column;
}

.section_wrap__headlines {
  margin-bottom: funcs.px-rem(32);

  @include breakpoints.media-screen(breakpoints.$md) {
    margin-bottom: funcs.px-rem(48);
  }
}

.padding {
  @include breakpoints.media-screen(breakpoints.$xl) {
    padding: 0 funcs.px-rem(150);
  }
}

.headlines_wrap__title {
  margin-bottom: funcs.px-rem(16);

  @include breakpoints.media-screen(breakpoints.$md) {
    margin-bottom: funcs.px-rem(32);
  }
}

.headlines_wrap__subtitle {
}

.align_center {
  display: flex;
  align-items: center;
  justify-content: center;

  * {
    text-align: center;
  }
}

.section_title {
  color: var(--text-primary);
}

.section_subtitle {
  color: var(--text-primary);
}

.section_wrap__body {
  display: flex;
  flex-direction: column;
  gap: funcs.px-rem(96);
}
