@use "../../modules/funcs.module";
@use "../../modules/units.module";
@use "../../modules/breakpoints.module";

.card {
  border-radius: units.$round-xl;
  background: var(--surface);
  overflow: hidden;

  box-shadow: 0 0 funcs.px-rem(1) funcs.px-rem(1) var(--light-stroke);

  @include breakpoints.media-screen(breakpoints.$md) {
    box-shadow: funcs.px-rem(5) funcs.px-rem(8) funcs.px-rem(20) var(--shadow);
  }
}

.card_wrap__img {
  position: relative;
  padding-top: 88.72%;

  & > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: green;
  }
}

.card_wrap__info {
  margin-bottom: funcs.px-rem(24);
  padding: funcs.px-rem(32) funcs.px-rem(40);
}

.info_top_wrap__title {
  margin-bottom: funcs.px-rem(16);
}

.info_title {
  color: var(--text-primary);
}

.info_text {
  color: var(--text-secondary);
}
