@use "../../shared/modules/funcs.module";
@use "../../shared/modules/breakpoints.module";

.filter_and_sort_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: funcs.px-rem(16);
  width: 100%;

  .filter_and_sort_wrap__sort {
    width: 100%;
  }

  @include breakpoints.media-screen(breakpoints.$sm) {
    flex-direction: row;

    .filter_and_sort_wrap__sort {
      width: funcs.px-rem(300);
    }
  }
}

.filter_and_sort_wrap__sort {
  flex-shrink: 0;
  width: funcs.px-rem(300);
}
