@use "../../../shared/modules/funcs.module";

.select_set_wrapper {
  display: flex;
  align-items: center;
  gap: funcs.px-rem(32);
}

.select {
  white-space: nowrap;
  color: var(--text-secondary);
  transition: 0.16s ease-out;
}

.active {
  font-weight: 600;
  color: var(--text-primary);
}
