@use "../../modules/funcs.module";

.range_wrapper {
  position: relative;

  $size: funcs.px-rem(12);

  height: $size;

  .range_slider {
    position: absolute;
    top: 50%;

    transform: translateY(-50%);

    width: 100%;
    height: funcs.px-rem(2);

    background: var(--stroke);

    .range_presentator {
      position: absolute;
      display: block;

      left: var(--first-pos);
      right: var(--second-pos);

      height: funcs.px-rem(2);

      background: var(--base);
    }
  }

  input {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 100%;
    height: 0;

    background: none;

    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    &::-webkit-slider-thumb {
      width: $size;
      height: $size;

      border-radius: 50%;

      background-color: var(--base);
      pointer-events: auto;
      -webkit-appearance: none;

      transition: 0.16s ease-out;

      border: none;

      &:hover {
        scale: 1.2;
      }

      &:active {
        scale: 0.8;
      }
    }
  }
}
