@use "../../modules/funcs.module";
@use "../../modules/units.module";
@use "../../modules/breakpoints.module";

.header {
  z-index: 100;
  position: fixed;

  display: flex;
  width: 100%;
  height: units.$header-height-desktop;

  background: var(--surface);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: funcs.px-rem(32);
}

.segments_list {
  display: flex;
  align-items: center;
  gap: funcs.px-rem(16);
}

.link {
  white-space: nowrap;
}

.header_wrap__search {
  @include breakpoints.media-screen(breakpoints.$md) {
    display: flex;
    justify-content: center;

    flex-grow: 1;
  }
  @include breakpoints.media-screen(breakpoints.$lg) {
    flex-grow: 1;
    & > * {
      position: absolute;
      left: 50%;
      top: 50%;

      transform: translate(-50%, -50%);
    }
  }

  @include breakpoints.media-screen(breakpoints.$xl) {
    display: flex;
    justify-content: flex-start;
    & > * {
      position: static;
      transform: none;
    }
  }
}

.header_wrap__actions {
  display: flex;
  align-items: center;
  gap: funcs.px-rem(8);
}
