@use "../src/shared/modules/funcs.module";
@use "../src/shared/modules/breakpoints.module";
@import url("../src/shared/assets/fonts/montserrat/stylesheet.css");

:root {
  --base: #151515;
  --surface: #fff;
  --background: #fff;

  --background-2: #a3a3ff;

  --text-primary: var(--base);
  --text-contrast: var(--background);
  --text-secondary: #9a9a9a;

  --stroke: var(--text-secondary);
  --light-stroke: #f5f3f5;

  // --primary: rgb(255, 214, 64);
  --primary: #7c4dff;
  --success: #07a717;
  --danger: #dc0a0a;
  --warning: #ffc700;

  --primary-disabled: #d1c4e9;

  --shadow: rgba(0, 0, 0, 0.2);
}

@media (prefers-color-scheme: dark) {
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

body {
  background: var(--background);

  overflow-x: hidden;

  overflow-y: auto;

  scroll-behavior: smooth;
}

.h1 {
  line-height: 1.3;
  font-size: funcs.px-rem(30);
  font-weight: 800;

  @include breakpoints.media-screen(breakpoints.$md) {
    font-size: funcs.px-rem(54);
  }
}
.h2 {
  line-height: 1.3;
  font-weight: 500;
  font-size: funcs.px-rem(28);
  @include breakpoints.media-screen(breakpoints.$md) {
    font-size: funcs.px-rem(35);
  }
}
.h3 {
  line-height: 1.3;
  font-weight: 600;
  font-size: funcs.px-rem(16);

  @include breakpoints.media-screen(breakpoints.$md) {
    font-size: funcs.px-rem(20);
  }
}
.h4 {
  line-height: 1.3;
  font-size: funcs.px-rem(14);
  font-weight: 500;

  @include breakpoints.media-screen(breakpoints.$md) {
    font-size: funcs.px-rem(18);
  }
}
.h5 {
  line-height: 1.6;
  font-size: funcs.px-rem(14);
  font-weight: 600;

  @include breakpoints.media-screen(breakpoints.$md) {
    font-weight: 400;
    font-size: funcs.px-rem(18);
  }
}
.h6 {
  line-height: 1.6;
  font-size: funcs.px-rem(14);
  font-weight: 600;

  @include breakpoints.media-screen(breakpoints.$md) {
    font-size: funcs.px-rem(18);
  }
}

.subtitle1 {
  line-height: 1.4;
  font-weight: 300;
  font-size: funcs.px-rem(16);

  @include breakpoints.media-screen(breakpoints.$md) {
    font-weight: 400;
    font-size: funcs.px-rem(18);
  }
}

.body1 {
  line-height: 1.4;
  font-weight: 300;
  font-size: funcs.px-rem(14);

  @include breakpoints.media-screen(breakpoints.$md) {
    font-weight: 400;
    font-size: funcs.px-rem(16);
  }
}

.body2 {
  line-height: 1.3;
  font-weight: 400;
  font-size: funcs.px-rem(12);

  @include breakpoints.media-screen(breakpoints.$md) {
    font-size: funcs.px-rem(14);
  }
}

.link1 {
  line-height: 1.4;
  font-weight: 400;
  font-size: funcs.px-rem(14);
}

.link2 {
  line-height: 1.3;
  font-size: funcs.px-rem(12);
  font-weight: 600;
}

.action-inner {
  line-height: 1.3;
  font-size: funcs.px-rem(12);
  font-weight: 400;
}

.caption {
  font-size: funcs.px-rem(10);
  font-weight: 500;
}

.light-selection {
  &::selection {
    background: var(--text-contrast);
    color: var(--base);
  }
}

.dark-selection {
  &::selection {
    background: var(--base);
    color: var(--text-contrast);
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
q,
blockquote {
  color: var(--text-primary);
}

.modal_wrapper {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
}

.hidden {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  list-style: none;
  text-decoration: none;

  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: funcs.px-rem(2);
    height: funcs.px-rem(2);
    background: var(--light-stroke);
    border-radius: 16px;

    @include breakpoints.media-screen(breakpoints.$md) {
      width: funcs.px-rem(6);
      height: funcs.px-rem(6);
    }
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 16px;
    background: var(--text-primary);
  }
}
