@use "../src/shared/modules/funcs.module";
@use "../src/shared/modules/breakpoints.module";
@import url("../src/shared/assets/fonts/montserrat/stylesheet.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  list-style: none;
  text-decoration: none;

  scroll-behavior: smooth;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

:root {
  --base: #191919;
  --background: #fffaff;
  --surface: #fff;
  --stroke: #9a9a9a;
  --light-stroke: #ececec;

  --text-primary: var(--base);
  --text-contrast: var(--background);
  --text-secondary: var(--stroke);

  --primary: rgb(255, 214, 64);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #221e22;
    --surface: #2c272c;
    --base: #fffaff;
  }
}

body {
  background: var(--background);

  &::-webkit-scrollbar {
    width: funcs.px-rem(6);
    height: funcs.px-rem(6);
    background: #414141;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 16px;
    background: var(--text-secondary);
  }
}

.h1 {
}
.h2 {
  font-weight: 600;
  line-height: 1.05;
  font-size: funcs.px-rem(50);
}
.h3 {
}
.h4 {
}
.h5 {
}
.h6 {
}

.subtitle1 {
  font-weight: 400;
  font-size: funcs.px-rem(25);
  line-height: 1.05;
}
.subtitle2 {
  font-weight: 400;
  font-size: funcs.px-rem(22);
  line-height: 1.3;
}

.body1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
}

.body2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1;
}

.link1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
}

.link2 {
}

* {
}

.light-selection {
  &::selection {
    background: var(--text-contrast);
    color: var(--base);
  }
}

.dark-selection {
  &::selection {
    background: var(--base);
    color: var(--text-contrast);
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
q,
blockquote {
  color: var(--text-primary);
  letter-spacing: funcs.px-rem(0.4);
}

.modal_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: auto;
}

body {
  overflow-y: auto;
  &:has(#modal) {
    overflow-y: hidden;
  }
}
